.container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.comingContainer {
    padding: 1em;
    background: #555;
    width: 310px;
    display: flex;
    align-items: center;
}

.comingContainer .date { 
    color: #eee;
}

p.date {
margin-left: -1.8em;
}

p.artist {
    margin-left: -1.8em;   
}

.comingContainer .type {
    display: inline-block;
    margin-left: 10px;
    border: solid 1px white;
    border-radius: 10px;
    padding: 0.3rem;
    color: white;

}

.comingContainer .artist {
    color: white;
}

.comingContainer .showPicture {
    margin-right: 1em;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.containerDateShow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}