.comingContainer {
    padding: 1em;
    background: #555;
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.date, .artist {
    color: #eee;
    margin-left: 0.6em;
}

.type {
    display: inline-block;
    margin-left: 10px;
    border: solid 1px white;
    border-radius: 10px;
    padding: 0.3rem;
    color: white;
}

.comingContainer .showPicture {
    margin-right: 1em;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.containerDateShow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}

.comingShowTitle {
    margin-bottom: 2rem;
}