.divPageConnexion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 200px; 
}

button {
    display: inline-block;                                                                        
    background-color: #548EE4;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    width: 20%;
}

button:hover {
    background-color: white;
    color: #548EE4;
    border: 1px solid grey;
}

.inputDivise{
    
    width: 175px;
    height: 35px;
    padding: 5px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
}

.inputEntier{
    margin:10px;
    width: 360px;
    height: 35px;
    padding: 5px;
    margin-bottom: 0;
    border-radius: 5px;
}

.inputCheckbox{
    margin:10px;
    width: 70%;
    height: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-check {
    margin-top: 15px;
}