.LiveContainer {
    display: flex;
    justify-content: flex-start;
}

.TitleLive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.LiveDescription {
    margin-left: 2rem;
}

@media (max-width: 1024px) {
    .LiveContainer {
        flex-direction: column;
              
    }
    .LiveDescription {
        margin-left: 0;
        margin-bottom: 2rem; 
    }
}