.nav {
    padding: 15px;
    align-content: center;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
}
.nav a:hover {
    border-bottom: #4D94FF 2px solid;
    cursor: pointer;
    font-weight: bold;
}
.avatar a:hover, .logo a:hover  {
    border: none;
}
.avatar img:hover, .logo img:hover  {
    filter: saturate(700%);
}

.baseline {
margin-top:0.1rem;
left:0.1rem;
}